.img1{
    float: left;
    max-width: 80%;
    height: auto;
    margin: auto;
   margin-left: 50px;
    top: 100px;
    position: relative;
   /* position: relative;
    width: 30%;
    left: 211px;

    margin: auto;*/
}
.bloc1{
    position: relative;
    right: auto;
    left: 300px;
    top: 100px;
    margin: 10px;
    border-radius: 5px;
    width: 100%; /* largeur de 90% */
    height: auto;
    /* hauteur fixe */
    background-color: #d0d6dc;
}
.div1{
    display: flex;

}
.div2{

}
.prod{
    text-align: center;
    margin: auto;
    width: 100%;
    position: relative;
    top: 80px;

}
.prod1{
    text-align: center;
    margin: auto;
    width: 100%;
    position: relative;
    top: 100px;
}
.img2{
    float: right;
    max-width: 100%;
    right : 20px;
    height: auto;
    top: 401px;
    position: relative;
    margin: auto;
    position: relative;
}
.bloc2{
    position: relative;

    margin: 10px;
    border-radius: 5px;
    height: auto; /* hauteur fixe */
    background: #AE6446;
    width: 90%;
    right: 450px;
    left: auto;
    top: 500px;
    border-radius: 5px;
}
.img4{
    position: relative;
float: left;
    top: 400px;
    max-width: 100%;
    height: 70%;
    margin: auto;
    margin-left: 30px;
}
.bloc3{
    position: relative;
    top: 450px;
    left: 300px;
    margin: 10px;
    border-radius: 5px;
    width: 90%; /* largeur de 90% */
    height: auto;
    height: auto;/* hauteur fixe */
    background: #d1e5e6;
}
.para1{
    justify-content: center;
    margin: auto;
    width: 80%;
    position: relative;
    top: 100px;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}